<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyWebApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/nicepage.css" media="screen"/>
    <link rel="stylesheet" href="~/css/site.css" media="screen"/>
    <script class="u-script" type="text/javascript" src="js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="js/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 5.1.5, nicepage.com"/>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i"/>
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i"/>
</head>
<body>
    <header style="z-index: 100;">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" id="navigationbar">
            <div class="Nav_left">
                 <a asp-area="" asp-page="/Index">
                    <img class="logo" src="https://media.discordapp.net/attachments/1037658643539173476/1050455513218945184/img.png">
                </a>
            </div>
            <ul class="Nav_right">
                <div class="Nav_menu">
                    <li>
                        <a asp-area="" asp-page="/Index">
                            <button class="Nav_buttons" id="HomeButton">
                                Home
                            </button>
                        </a>
                    </li>
                    <li>
                        <a asp-area="" asp-page="/OverOns">
                            <button class="Nav_buttons" id="OverOnsButton">
                                Over ons
                            </button>
                        </a>
                    </li>
                    <li>
                        <a asp-area="" asp-page="/Download" id="DownloadButton">
                            <button class="Nav_buttons">
                                Download
                            </button>
                        </a>
                    </li>
                    <li>
                        <a asp-area="" asp-page="/Events">
                            <button class="Nav_buttons" id="EventsButton">
                                Events
                            </button>
                        </a>
                    </li>
                </div>
            </ul>    
        </nav>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="z-index: 100;">
        <div class="container" id="Footer">
            &copy; 2022 - inNLburgering - <a class="Privacy_button" asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>