@page
@model DownloadModel

<h1>@ViewData["Title"]</h1>

            </a>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div></header>
    <section class="u-align-center u-clearfix u-palette-1-base u-section-1" id="carousel_01f2">
      <div class="u-expanded-width u-shape u-shape-rectangle u-white u-shape-1"></div>
      <div class="u-align-center-xs u-container-style u-group u-palette-2-light-3 u-radius-20 u-shape-round u-group-1">
        <div class="u-container-layout u-valign-middle u-container-layout-1">
          <h1 class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xl u-custom-font u-font-source-sans-pro u-text u-text-default u-text-1">Download it now.</h1>
          <div class="u-container-style u-group u-group-2">
            <div class="u-container-layout">
              <a href="https://nicepage.best" class="u-border-5 u-border-active-palette-2-light-2 u-border-hover-palette-2-light-2 u-border-palette-2-light-3 u-btn u-btn-round u-button-style u-palette-1-base u-radius-9 u-btn-1"><span class="u-icon u-icon-1"><svg class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" style="width: 1em; height: 1em;"><g><path d="M185.255,512c-76.201-0.439-139.233-155.991-139.233-235.21c0-129.404,97.075-157.734,134.487-157.734   c16.86,0,34.863,6.621,50.742,12.48c11.104,4.087,22.588,8.306,28.975,8.306c3.823,0,12.832-3.589,20.786-6.738   c16.963-6.753,38.071-15.146,62.651-15.146c0.044,0,0.103,0,0.146,0c18.354,0,74.004,4.028,107.461,54.272l7.837,11.777   l-11.279,8.511c-16.113,12.158-45.513,34.336-45.513,78.267c0,52.031,33.296,72.041,49.292,81.665   c7.061,4.248,14.37,8.628,14.37,18.208c0,6.255-49.922,140.566-122.417,140.566c-17.739,0-30.278-5.332-41.338-10.034   c-11.191-4.761-20.845-8.862-36.797-8.862c-8.086,0-18.311,3.823-29.136,7.881C221.496,505.73,204.752,512,185.753,512H185.255z"></path><path d="M351.343,0c1.888,68.076-46.797,115.304-95.425,112.342C247.905,58.015,304.54,0,351.343,0z"></path>
</g></svg><img></span>&nbsp;App Store<br>
              </a>
              <a href="https://play.google.com/store/apps/details?id=com.InNLburgeringapp&pli=1" class="u-border-5 u-border-active-palette-2-light-2 u-border-hover-palette-2-light-2 u-border-palette-2-light-3 u-btn u-btn-round u-button-style u-palette-1-base u-radius-9 u-btn-2"><span class="u-icon u-icon-2"><svg class="u-svg-content" viewBox="0 0 511.997 511.997" x="0px" y="0px" style="width: 1em; height: 1em;"><g><g><g><path d="M59.732,153.597c-23.526,0-42.667,19.14-42.667,42.667V315.73c0,23.526,19.14,42.667,42.667,42.667     c23.526,0,42.667-19.14,42.667-42.667V196.264C102.399,172.737,83.258,153.597,59.732,153.597z"></path><path d="M452.265,153.597c-23.526,0-42.667,19.14-42.667,42.667V315.73c0,23.526,19.14,42.667,42.667,42.667     s42.667-19.14,42.667-42.667V196.264C494.932,172.737,475.792,153.597,452.265,153.597z"></path><path d="M119.465,401.064h34.133v76.8c0,18.825,15.309,34.133,34.133,34.133s34.133-15.309,34.133-34.133v-76.8h68.267v76.8     c0,18.825,15.309,34.133,34.133,34.133s34.133-15.309,34.133-34.133v-76.8h34.133V153.597H119.465V401.064z"></path><path d="M357.375,57.136c-5.726-5.82-12.894-11.998-21.623-17.715l13.244-27.153c2.074-4.233,0.316-9.344-3.925-11.409     c-4.258-2.057-9.335-0.29-11.401,3.934l-12.8,26.232c-16.845-8.132-37.973-13.961-64.06-13.961     c-25.967,0-47.71,5.393-65.843,13.926L178.345,4.818c-2.031-4.241-7.125-6.008-11.392-3.977     c-4.241,2.048-6.025,7.151-3.968,11.401l12.996,26.957c-36.54,23.467-54.084,60.826-56.482,88.047l-0.819,9.284h274.637     l-0.819-9.284C390.894,108.976,380.816,80.961,357.375,57.136z M213.332,102.397c-9.421,0-17.067-7.637-17.067-17.067     c0-9.429,7.646-17.067,17.067-17.067c9.421,0,17.067,7.637,17.067,17.067C230.399,94.76,222.753,102.397,213.332,102.397z      M298.665,102.397c-9.421,0-17.067-7.637-17.067-17.067c0-9.429,7.646-17.067,17.067-17.067c9.421,0,17.067,7.637,17.067,17.067     C315.732,94.76,308.086,102.397,298.665,102.397z"></path>
</g>
</g>
</g></svg><img></span> &nbsp;Google Play<br>
                     </a>
            </div>
          </div>
          <a href="https://nicepage.best" class="u-border-5 u-border-active-palette-2-light-2 u-border-hover-palette-2-light-2 u-border-palette-2-light-3 u-btn u-btn-round u-button-style u-palette-1-base u-radius-9 u-btn-3"><span class="u-file-icon u-icon"><img src="images/13738.png" alt=""></span>&nbsp;Desktop App<br>
          </a>
          <p class="u-align-center u-text u-text-2">Dit programma is beschikbaar op de volgende operating systems. Download nu de juiste versie voor u.</p>
        </div>
      </div>
    </section>
    
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-35d3"><div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">Voorbeeldtekst. Klik om het tekstelement te selecteren.</p>
      </div></footer>
    <section class="u-backlink u-clearfix u-grey-80">
      <a class="u-link" href="https://nicepage.com/website-templates" target="_blank">
        <span>Website Templates</span>
      </a>
      <p class="u-text">
        <span>created with</span>
      </p>
      <a class="u-link" href="" target="_blank">
        <span>Website Builder Software</span>
      </a>. 
    </section>
  
