@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="Container">
    <div class="Textcontainer">
        <div>
            <h1 class="Titel">Welkom!</h1>
        </div>
        <div>
            <p class="Tekst">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at ornare enim. Donec metus nunc, vehicula non nibh nec, lobortis suscipit massa. Etiam felis quam, tempus non tellus eget, euismod iaculis odio. Etiam id mi nec libero luctus sodales a nec dui. Fusce et pulvinar libero, non pretium libero. Suspendisse porta pharetra nulla, id interdum neque porta id. Etiam molestie arcu a ante varius semper. Sed vulputate dictum nisi in sodales. Vivamus vitae leo erat. Nunc vitae neque auctor, commodo est vitae, pretium nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Etiam arcu massa, porta ac consectetur non, venenatis in urna.
            </p>
        </div>
    </div>
    <div class="Fotocontainer">
        <img class="Foto" src="https://www.cordaid.org/nl/wp-content/uploads/sites/2/2020/06/vluchtelingen1-kopie.JPG-griekenland-arie-kievit-768x512.jpg">
    </div>
</div>