@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    #HomeButton{
        background-color: #ff7200;
        border-radius: 15px;
        border-style: solid;
        border-color: rgb(90, 90, 90);
        border-width: 2px;
        transition: 0.2s ease;
        color: white;
    }
</style>

<div class="Container">
    <div class="Textcontainer">
        <div>
            <h1 class="Titel">Welkom!</h1>
        </div>
        <div>
            <p class="Tekst">
                inNLburgeren is een concept ontwikkeld door een groep eerste jaars ICT-studenten van Fontys. Het streven van inNLburgeren is oefenmateriaal/cursussen bieden aan inburgeraars in Nederland. Een complicatie waar inburgeraars tegenaan lopen is dat er online geen (gratis) oefenmateriaal beschikbaar is. inNLburgeren biedt hierbij een oplossing, alle leerstof is gratis en overal te oefenen. inNLburgeren heeft een website, desktopapp en mobiele app zodat U overal makkelijk de lesstof kan oefenen en begrijpen. Maak een account aan en krijg toegang tot de oefenopdrachten en uw eigen leerproces
            </p>
        </div>
    </div>
    <div class="Fotocontainer">
        <img class="Foto" src="https://media.discordapp.net/attachments/1037658188620763147/1065224923754278932/Foto_Steense_.jpg?width=981&height=613">
    </div>
</div>