@page
@model OverOnsModel

<style>
    #OverOnsButton{
        background-color: #ff7200;
        border-radius: 15px;
        border-style: solid;
        border-color: rgb(90, 90, 90);
        border-width: 2px;
        transition: 0.2s ease;
        color: white;
    }
</style>

<h1>@ViewData["Title"]</h1>

            </a>
              </div>
            </div>
             <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div></header>
    <section class="u-clearfix u-white u-section-15" id="sec-01c3">
      <div class="u-clearfix u-sheet u-sheet-15">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-15">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-size-19 u-size-60-md">
                <div class="u-layout-row">
                  <div class="u-align-left u-container-style u-expand-resize u-layout-cell u-left-cell u-similar-fill u-size-60 u-layout-cell-15">
                    <div class="u-container-layout u-container-layout-15">
                      <img class="u-expanded-width u-image u-image-default u-preserve-proportions u-image-15" src="https://media.discordapp.net/attachments/1037658643539173476/1047818780170006558/inNLburgeren_box.png?width=613&height=613" alt="" data-image-width="300" data-image-height="300">
                      <a href="/Download" class="u-btn u-button-style u-btn-15">DOWNLOAD PAGINA</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-41 u-size-60-md">
                <div class="u-layout-col">
                  <div class="u-size-40">
                    <div class="u-layout-row">
                      <div class="u-container-style u-layout-cell u-right-cell u-similar-fill u-size-60 u-layout-cell-25">
                        <div class="u-container-layout u-valign-top u-container-layout-25">
                          <h4 class="u-text u-text-black u-text-15">inNLburgeren, The app to help you intergrate in The Netherlands.</h4>
                          <blockquote class="u-text u-text-black u-text-25"> inNLburgeren
is a concept developed by a group of first-year ICT students from Fontys. The
aim of inNLburgeren is to offer practice material/courses to people integrating
in the Netherlands. A complication encountered by people integrating is that
there is no (free) practice material available online.</blockquote>
                          <p class="u-text u-text-font u-text-35"> inNLburgeren
offers a solution for this, all learning material is free and can be practiced
anywhere. inNLburgeren has a website, desktop app and mobile app so that you
can easily practice and understand the lesson material anywhere.<br>
                            <br>Download the app and create
an account to get started!&nbsp;&nbsp;
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="u-size-20">
                    <div class="u-layout-row">
                      <div class="u-align-left u-container-style u-layout-cell u-similar-fill u-size-29 u-layout-cell-35">
                        <div class="u-container-layout u-valign-bottom u-container-layout-35">
                          <h4 class="u-text u-text-45">Rowan van der Weel<br>Billy Hofland<br>Maya Fransen&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<br>John-Lynson<br>Nathaniël Hart<br>Sam de Jong<br>Enes Kale&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<br>
                          </h4>
                          <p class="u-text u-text-55">Founders and CEO's</p>
                        </div>
                      </div>
                      <div class="u-container-style u-expand-resize u-layout-cell u-right-cell u-similar-fill u-size-31 u-layout-cell-45">
                        <div class="u-container-layout u-container-layout-45">
                          <div class="u-expanded-width u-video u-video-contain u-video-15">
                            <div class="embed-responsive embed-responsive-15">
                              <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;" class="embed-responsive-item" src="https://www.youtube.com/embed/iuM9O7MbFa0?&amp;showinfo=0&amp;controls=0&amp;start=0" frameborder="0" allowfullscreen="true"></iframe>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
