@page
@model OverOnsModel

<h1>@ViewData["Title"]</h1>

            </a>
              </div>
            </div>
             <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div></header>
    <section class="u-clearfix u-white u-section-15" id="sec-01c3">
      <div class="u-clearfix u-sheet u-sheet-15">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-15">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-size-19 u-size-60-md">
                <div class="u-layout-row">
                  <div class="u-align-left u-container-style u-expand-resize u-layout-cell u-left-cell u-similar-fill u-size-60 u-layout-cell-15">
                    <div class="u-container-layout u-container-layout-15">
                      <img class="u-expanded-width u-image u-image-default u-preserve-proportions u-image-15" src="https://media.discordapp.net/attachments/1037658643539173476/1047818780170006558/inNLburgeren_box.png?width=613&height=613" alt="" data-image-width="300" data-image-height="300">
                      <a href="/Download" class="u-btn u-button-style u-btn-15">DOWNLOAD PAGINA</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-41 u-size-60-md">
                <div class="u-layout-col">
                  <div class="u-size-40">
                    <div class="u-layout-row">
                      <div class="u-container-style u-layout-cell u-right-cell u-similar-fill u-size-60 u-layout-cell-25">
                        <div class="u-container-layout u-valign-top u-container-layout-25">
                          <h4 class="u-text u-text-black u-text-15">inNLburgeren, The app to help you intergrate in The Netherlands.</h4>
                          <blockquote class="u-text u-text-black u-text-25"> inNLburgeren
is a concept developed by a group of first-year ICT students from Fontys. The
aim of inNLburgeren is to offer practice material/courses to people integrating
in the Netherlands. A complication encountered by people integrating is that
there is no (free) practice material available online.</blockquote>
                          <p class="u-text u-text-font u-text-35"> inNLburgeren
offers a solution for this, all learning material is free and can be practiced
anywhere. inNLburgeren has a website, desktop app and mobile app so that you
can easily practice and understand the lesson material anywhere.<br>
                            <br>Download the app and create
an account to get started!&nbsp;&nbsp;
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="u-size-20">
                    <div class="u-layout-row">
                      <div class="u-align-left u-container-style u-layout-cell u-similar-fill u-size-29 u-layout-cell-35">
                        <div class="u-container-layout u-valign-bottom u-container-layout-35">
                          <h4 class="u-text u-text-45">Rowan<br>Billy<br>Maya&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<br>John-Lynson<br>Nathaniël<br>Sam<br>Enes&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<br>
                          </h4>
                          <p class="u-text u-text-55">Founders and CEO's</p>
                        </div>
                      </div>
                      <div class="u-container-style u-expand-resize u-layout-cell u-right-cell u-similar-fill u-size-31 u-layout-cell-45">
                        <div class="u-container-layout u-container-layout-45">
                          <div class="u-expanded-width u-video u-video-contain u-video-15">
                            <div class="embed-responsive embed-responsive-15">
                              <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;" class="embed-responsive-item" src="https://www.youtube.com/embed/B9YKnNtFqds?mute=0&amp;showinfo=0&amp;controls=0&amp;start=0" frameborder="0" allowfullscreen=""></iframe>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-35d3"><div class="u-clearfix u-sheet u-sheet-15">
        <p class="u-small-text u-text u-text-variant u-text-15">Voorbeeldtekst. Klik om het tekstelement te selecteren.</p>
      </div></footer>
    <section class="u-backlink u-clearfix u-grey-80">
      <a class="u-link" href="https://nicepage.com/website-templates" target="_blank">
        <span>Website Templates</span>
      </a>
      <p class="u-text">
        <span>created with</span>
      </p>
      <a class="u-link" href="" target="_blank">
        <span>Website Builder Software</span>
      </a>. 
    </section>
  
