@page 
@model DownloadModel
@{
    ViewData["Title"] = "Over ons";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-4">Welkom</h1>
    <p>Dit is de Over ons Page</p>
</div>