@page 
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<style>
    body{
        min-height: 200%;
    }
</style>

<div class="Main_container">
    <h1>Privacy Policy</h1>

    <p>inNLburgeren, gevestigd aan Rachelsmolen 1, 5612 MA Eindhoven, is verantwoordelijk voor de verwerking van persoonsgegevens zoals weergegeven in deze privacyverklaring.</p>

    <h2>Contactgegevens</h2>

    <p>http://145.220.75.129:8080/</p>

    <p>Rachelsmolen 1, 5612 MA Eindhoven</p>

    <p>+31624470268</p>        

    <p>Rowan is de Functionaris Gegevensbescherming van inNLburgeren Hij/zij is te bereiken via rowanvanderweel@gmail.com</p>                                     

    <h2>Persoonsgegevens die wij verwerken</h2>

    <p>inNLburgeren verwerkt geen persoonsgegevens omdat op onze site geen persoonsgegevens achter gelaten kunnen worden. Ook gebruiken we geen social media plugins.</p>

    <p>Onze website en/of dienst heeft niet de intentie gegevens te verzamelen over websitebezoekers die jonger zijn dan 16 jaar. Tenzij ze toestemming hebben van ouders of voogd. We kunnen echter niet controleren of een bezoeker ouder dan 16 is. Wij raden ouders dan ook aan betrokken te zijn bij de online activiteiten van hun kinderen, om zo te voorkomen dat er gegevens over kinderen verzameld worden zonder ouderlijke toestemming. Als je er van overtuigd bent dat wij zonder die toestemming persoonlijke gegevens hebben verzameld over een minderjarige, neem dan contact met ons op via rowanvanderweel@gmail.com, dan verwijderen wij deze informatie.</p>    
    
    <h2>Met welk doel en op basis van welke grondslag wij persoonsgegevens verwerken</h2>

    <p>inNLburgeren verwerkt jouw persoonsgegevens voor de volgende doelen:</p>

    <ul>
    <li>Je te informeren over wijzigingen van onze diensten en producten</li>
    </ul>

    <h2>Geautomatiseerde besluitvorming</h2>

    <p>inNLburgering maakt geen gebruik van geautomatiseerde besluitvorming</p>

    <h2>Hoe lang we persoonsgegevens bewaren</h2>

    <p>inNLburgeren bewaart geen persoonsgegevens.</p>

    <h2>Delen van persoonsgegevens met derden</h2>

    <P>inNLburgeren verstrekt uitsluitend aan derden en alleen als dit nodig is voor de uitvoering van onze overeenkomst met jou of om te voldoen aan een wettelijke verplichting.</p>

    <p>Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web Beacons that are used in their respective advertisements and links that appear on inNLburgering, which are sent directly to users' browser. They automatically receive your IP address when this occurs. These technologies are used to measure the effectiveness of their advertising campaigns and/or to personalize the advertising content that you see on websites that you visit.</p>

    <h2>Cookies, of vergelijkbare technieken, die wij gebruiken</h2>

    <p>inNLburgeren gebruikt geen cookies of vergelijkbare technieken.</p>

    <h2>Hoe wij persoonsgegevens beveiligen</h2>

    <p>inNLburgeren neemt de bescherming van jouw gegevens serieus en neemt passende maatregelen om misbruik, verlies, onbevoegde toegang, ongewenste openbaarmaking en ongeoorloofde wijziging tegen te gaan. Als jij het idee hebt dat jouw gegevens toch niet goed beveiligd zijn of er aanwijzingen zijn van misbruik, neem dan contact op met onze klantenservice of via rowanvanderweel@gmail.com</p>
</div>

